@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Poppins medium */
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* Poppins bold */
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* Poppins extra bold */
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
 *,
 *::before,
 *::after {
   box-sizing: border-box;
   font-family: "Poppins" !important;
 }
 @media (prefers-reduced-motion: no-preference) {
   :root {
     scroll-behavior: smooth;
   }
 }
 body {
   margin: 0;
   font-family: "Poppins";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   overflow-x: hidden;
 }
 hr {
   margin: 1rem 0;
   color: inherit;
   background-color: currentColor;
   border: 0;
   opacity: 0.25;
 }
 
 hr:not([size]) {
   height: 1px;
 }
 h6, h5, h4, h3, h2, h1 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   font-weight: 500;
   line-height: 1.2;
 }
 h1 {
   font-size: calc(1.375rem + 1.5vw);
 }
 @media (min-width: 1200px) {
   h1 {
     font-size: 2.5rem;
   }
 }
 h2 {
   font-size: calc(1.325rem + 0.9vw);
 }
 @media (min-width: 1200px) {
   h2 {
     font-size: 2rem;
   }
 }
 h3 {
   font-size: calc(1.3rem + 0.6vw);
 }
 @media (min-width: 1200px) {
   h3 {
     font-size: 1.75rem;
   }
 }
 h4 {
   font-size: calc(1.275rem + 0.3vw);
 }
 @media (min-width: 1200px) {
   h4 {
     font-size: 1.5rem;
   }
 }
 h5 {
   font-size: 1.25rem;
 }
 h6 {
   font-size: 1rem;
 }
 p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 29px;
  color: #555;
}
header {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.head-img {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}
.head-img > img {
  width: 60px;
  height: 60px;
  float: left;
}
.head-img h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.head-img h1 span {
  display: inline-block;
  font-size: 15px;
  background: #f5f5f5;
  padding: 0 13px;
  margin-left: 10px;
  border-radius: 40px;
  line-height: 28px;
}
.head-img h1 span img {
  float: left;
  width: 13px;
  margin-top: 8px;
  margin-right: 3px;
}
.proposal-name-sec {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}
.proposal-name-sec > img {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}
.proposal-name {
  width: 100%;
  padding-left: 12px;
}
.proposal-name h3 {
  font-size: 16px;
  margin-bottom: 3px;
}
.proposal-name > div {
  display: inline;
  font-size: 13px;
  margin-left: 6px;
  color: #666;
}
.table > :not(caption) > * > * {
  padding: 10px 15px !important;
}
footer {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer span {
  font-size: 15px;
  color: #666;
  margin-right: 5px;
}
footer img {
  display: inline-block;
  margin-right: 5px;
}